メール送信/大会別精算書メール・LINE先一覧.xlsx
メール送信/精算書送付方法.xlsx
メール送信/a.py
店舗出品リスト/2024.07
店舗出品リスト/2024.09
店舗出品リスト/2024.10
店舗出品リスト/a.py
箱番作成/data.xlsx
~WRL0005.tmp
desktop.ini
memo.txt
FastAPI/output_files
検品チェック/チェック結果
入札貼付/入札ファイル（バッグ）
検品チェック/database.accdb
検品チェック/箱番.xlsx
検品チェック/入力済み.xlsx 
箱番作成/data.accdb
.DS_Store
入札貼付/バッグ_貼り付け先.xlsx
入札貼付/宝石_貼り付け先.xlsx
入札貼付/時計_貼り付け先.xlsx